@{
    ViewData["Title"] = "Home Page";
}

<h1>Bienvenido al gestor de paciente del hospital De Leon</h1>
<h2>Si te toco aqui como paciente la macate por que mochamo' ma' 
    <br />pielna que en dario contrera</h2>

