@using Gestor.Core.Application.ViewModel.Medico
@model SaveMedicoViewModel

<dialog open>
  <article>
    <h3>¿Estas seguro?</h3>
    <p>
      Seguro que decea al usuario @Model.nombre @Model.apellido<br />
      Cedula: @Model.cedula
    </p>
    <form method="post" asp-controller="Medico" asp-action="DeletePost">
        <input type="hidden" asp-for="Id" />
        <footer>
          <button type="submit" class="delete"> Eliminar </button>
        <a role="button" asp-controller="Medico" asp-action="Index" class="contrast">Volver</a>
        </footer>
    </form>
    
  </article>
</dialog>